	

<script>

  
	$(document).ready(function(){
		
		var map;
		var service;
		var request;
		

		function watchTextbox() {
		  var txtInput = $('#venue-search');
		  var lastValue = txtInput.data('lastValue');
		  var currentValue = txtInput.val();
		  if (lastValue != currentValue && currentValue != '') {
				console.log('Value changed from ' + lastValue + ' to ' + currentValue);
				lookupPlaces(currentValue)
		    txtInput.data('lastValue', currentValue);
		  }
		}
		
		function lookupPlaces(input) {
			
			var pyrmont = new google.maps.LatLng(-33.8665433,151.1956316);

		  map = new google.maps.Map(document.getElementById('map'), {
		      mapTypeId: google.maps.MapTypeId.ROADMAP,
		      center: pyrmont,
		      zoom: 15
		    });

		  request = {
		    // location: pyrmont,
		    // radius: '500',
		    query: input,
				type: 'establishment'
		  };
		  
			
			service = new google.maps.places.PlacesService(map)
			service.textSearch(request, callback);				
			
		}

		// Check the textbox every 100 milliseconds.  This seems to be pretty responsive.
		setInterval(watchTextbox, 100);
		
		 
     $( "#list tbody" ).sortable({
				handle: '.dragger',
				cursor: 'move',
				axis: 'y',
				update: function(event, ui){
					console.log($(this).sortable('serialize'))
					$.post($('#list').data('update-url'), ($(this).sortable('serialize')+'&'+$.param({ list_id: '<%= @list.id %>' })));
					
				}
			});
			
			$('#item_description').keypress(function(e) {
        if(e.which == 13) {
            $(this).replaceWith(function() {
						        return '<div>' + $(this).val() + '</div>';
						    });        }
			});
			
	});
	
	function callback(results, status) {
	$('#results-table').empty()
	window.results = results
	if (status == google.maps.places.PlacesServiceStatus.OK) {
	    for (var i = 0; i < results.length; i++) {
	      var place = results[i];
	      console.log(place)
				$('#results-table').append("<tr><td><img src='"+results[i].icon+"' width='20px' height='20px'><td><strong>"+results[i].name+"</strong><br/>"+results[i].formatted_address+"<br />(503) 735-5337</td><td><button onclick='createVenue("+i+")' class='btn btn-small add' id='"+i+"'>Add</button></td></tr>")

	    }
	  }
	}
	
	
	//post to the Create Venue controller
	function createVenue(id) {
		var selected = window.results[id];
		console.log(selected.geometry.location.$a);
		$.ajax({
		  type: 'POST',
		  url: '/venue',
		  data: 
			{
				list_id: <%= @list.id %>,
				name: selected.name,
				foursquareid: selected.id,
				address: selected.formatted_address,
				lat: selected.geometry.location.$a,
				lng: selected.geometry.location.ab
			},
		  success: addToList(selected),
		});
	}
	
	function addToList(selected){
		console.log(selected.name)
	}

	
</script>

<div class="span6">
   <h3>2. Add Places to <%= list.name %></h3>
   <table class="table table-striped" id="list" data-update-url="<%= sort_list_items_url %>">
		<tbody>
			<!-- this is where list items get added -->
   	</tbody>
		</table>

   <h4>Add Places</h4>
   <form class="form">
       <input type="text" class="input-xlarge  search-query" id='venue-search'>
   </form>
   <div class="well">
   <h5>Search Results</h5>

	<!-- this map div doesn't show anything at the moment but is here to make the maps api work. Will get around to implementing later -->
	<div id="map"></div> 
	
   <table class="table table-striped" id='results-table'>
		<!-- this is where search results go -->
   </table>
   </div>
 </div>


<div class="span3">
   <h3>3. Invite Collaborators</h3>
   <div class="well">
     <p>
       <button class="btn btn-large" type="button">Add collaborators</button>
     </p>
   </div>
     <!--/.well -->
     <h3>4. Publish your Placelist</h3>
     <div class="well alert-info">
       <p> <%= link_to "Publish", list, class: "btn btn-primary btn-large" %> | <a href="#">Cancel</a></p>
     </div>
</div>
      <!--/.well -->