<script>
// function setGeoCookie(position) {
//   alert("Thanks for bla!");  
// 
//   var latitude = position.coords.latitude; 
//   var longitude =  position.coords.longitude;
//   $.cookie("Lat", latitude);
//   $.cookie("Long", longitude);  
// }
// 
// $(document).ready(function(){
//   alert("Thanks for visiting!");  
//   
//   function getGeoLocation(position) {    
//     navigator.geolocation.getCurrentPosition(setGeoCookie);
//   }
// });


$(document).ready(function(){
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(savePosition);
    }
  else{
  }
  });
  
  function savePosition(position)
  {
    var latitude = position.coords.latitude; 
    var longitude =  position.coords.longitude;
    document.cookie = "lat=" + escape(latitude);
    document.cookie = "long=" + escape(longitude);
}

</script>

<div class="content">
<p id="notice"><%= notice %></p>
<div>
  <div> 
  <h1 style: "display:inline;">
      <%= image_tag "http://graph.facebook.com/#{@user.uid}/picture?type=large", width: "75", style: "float:left;margin:0 10px 0 0", class: "img-rounded" %> 
      <%= @owner ? "You" : @user.name %>
  </h1>
  
    <p>
    <%= link_to "#{@num_followers} followers", followers_path(@user.id) %> 
    | 
    <%= link_to "#{@num_following} following", following_path(@user.id) %>
    </p>
      
  <% if @follower == true %>
  <div class="btn-group">
  <span class="btn btn-success disabled" data-toggle="dropdown"><i class="icon-ok"></i> Following</span>
  <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <%= link_to "Unfollow", unfollow_path(:id => @user.id), method: "delete"%>
    </ul>
  </div>


  <% else %>
  <p>
  <%= link_to "Follow", follow_path(:id => @user.id), method: "post", class: "btn btn-success" unless @owner  %>
  <% end %>
  </p>
  
</div>

<h3 style="display:inline;"><%= @owner ? "Your" : "#{@user.firstname}'s" %> Playlists</h3>
<p style="display:inline;"><%= link_to new_list_path, class: 'pull-right' do %>
<i class="icon-plus"></i> New List
<% end if @owner %></p>

<table  class='table table-striped'>
    
<% @user.lists.each do |list| %>
    <tr>
    <td><%= link_to list.name, list %></td>
    </tr>
<% end %>
</table>



<h3 style="display:inline;">Subscriptions</h3>
<%= link_to discover_path(:lat => cookies[:lat], :long => cookies[:long]), class: "pull-right" do %>
<i class="icon-globe"></i> Discover More
<% end if @owner & @subscriptions.any?%>
<table  class='table table-striped'>
<% if @subscriptions.any? %>  
  <% @subscriptions.each do |subscription| %>
      <tr>
      <td><%= link_to subscription.list.name, subscription.list %></td>
      </tr>
  <% end %>
<% else %>  
  <p class="lead">You haven't subscribed to any playlists yet. 
    </br>
    <%= link_to discover_path(:lat => cookies[:lat], :long => cookies[:long]) do %>
    <i class="icon-globe"></i> Go find some
    <% end %>
  </p>
<% end %>
</table>



</div>