<div class="span12">
<p id="notice"><%= notice %></p>

<div>
  <div> 
  <h1 style: "display:inline;">
      <%= image_tag "http://graph.facebook.com/#{@user.uid}/picture?type=small", style: "float:left;margin:0 10px 0 0", class: "img-rounded" %> 
      <%= @owner ? "You" : @user.name %>
  </h1>
    <p style="margin-left:65px;"><%= @num_followers %> followers | <%= @num_following %> following <%= @following.to_s %></p>
  <div>
      
      
  <% if @follower == true %>
  <div class="btn-group">
  <span class="btn btn-success disabled" data-toggle="dropdown"><i class="icon-ok"></i> Following</span>
  <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <%= link_to "Unfollow", unfollow_path(:id => @user.id), method: "delete"%>
    </ul>
  </div>


  <% else %>
  <p>
  <%= link_to "Follow", follow_path(:id => @user.id), method: "post", class: "btn btn-success" unless @owner  %>
  <% end %>
  </p>
  
</div>

<h3 style="display:inline;"><%= @owner ? "Your" : "#{@user.firstname}'s" %> Playlists</h3>
<p style="display:inline;"><%= link_to new_list_path, class: 'pull-right' do %>
<i class="icon-plus"></i> New List
<% end if @owner %></p>

<table  class='table table-striped'>
    
<% @user.lists.each do |list| %>
    <tr>
    <td><%= link_to list.name, list %></td>
    </tr>
<% end %>
</table>



<h3 style="display:inline;">Subscriptions</h3>
<%= link_to discover_path, class: "pull-right" do %>
<i class="icon-globe"></i> Discover More
<% end if @owner%>
<table  class='table table-striped'>
<% @subscriptions.each do |subscription| %>
    <tr>
    <td><%= link_to subscription.list.name, subscription.list %></td>
    </tr>
<% end %>
</table>



</div>