<%= content_tag_for :tr, list_item do %>
	<td><%= venue.id %></td>
	<td>
		<div class='span3'>
			<strong><%= venue.name %></strong><br/>
			<%= venue.address %><br/>
			(503) 735-5337
		</div>
		<div class='span3'>
			<p><strong>Tags:</strong></p>
			<%= form_for list_item, remote: true do |f| %>
				<p><%= f.text_field :description, placeholder: 'Tell your friend why they should go here', :class => 'input-xlarge', id: "item-description" %></p>
			<% end %>
		</div>
	</td>
	<td>
		<i class='icon-move dragger'></i>&nbsp;&nbsp;&nbsp;
		<%= link_to list_item, method: :delete, remote: true do %>
			<i class='icon-remove'></i>
		<% end %>
	</td>
<% end %>