<p id="notice"><%= notice %></p>

<h2>
  <%= @venue.name %>
</h2>
<p class="lead">
    <%= @venue.address %>
</p>
<p><%= image_tag "http://maps.googleapis.com/maps/api/staticmap?&zoom=16&size=400x400&maptype=roadmap
&markers=color:blue%7Clabel:%7C#{@venue.latitude},#{@venue.longitude}&sensor=false" %></p>

<p><%= link_to 'Back to Playlist', list_path(params[:list_id]) %>
