<p id="notice"><%= notice %></p>

<h2 style="display: inline">
  <%= @venue.name %>
</h2>
<span class="label"><%= link_to "/list_items/#{params[:list_item_id]}", method: :delete, class: "white-link" do %>
<i class="icon-remove"></i> Remove from list
<% end %>    
</span>

<p class="lead">
    <%= @venue.address %>
</p>

    
<p><%= image_tag "http://maps.googleapis.com/maps/api/staticmap?&zoom=16&size=400x400&maptype=roadmap
&markers=color:blue%7Clabel:%7C#{@venue.latitude},#{@venue.longitude}&sensor=false", class: "img-circle" %></p>

<p><% link_to 'Back to Playlist', list_path(params[:list_id]) %></p>